<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.appdevproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.campuscompass.appdevproject.PrivacyPolicy"></activity>
        <activity android:name="com.campuscompass.appdevproject.AccountDeletion" />
        <activity android:name=".FullImageActivity" />
        <activity android:name="com.campuscompass.appdevproject.InterestsClass" />
        <activity android:name=".StudentFeedsAdapter" />
        <activity android:name="com.campuscompass.appdevproject.IndividualUserProfile" />
        <activity android:name="com.campuscompass.appdevproject.FriendlyMessage" />
        <activity android:name=".ProfileAdapter" />
        <activity android:name="com.campuscompass.appdevproject.EditProfileActivity" />
        <activity android:name=".SearchuserAdapter" />
        <activity
            android:name="com.campuscompass.appdevproject.SearchUsersActivity"
            android:label="           Search Users"
            android:theme="@style/Other" />
        <activity android:name="com.campuscompass.appdevproject.UserHelperClass" />
        <activity android:name="com.campuscompass.appdevproject.CampusVideoAdapter" />
        <activity android:name="com.campuscompass.appdevproject.CampusVideoClass" />
        <activity
            android:name="com.campuscompass.appdevproject.CampusVideos"
            android:label="       Campus Videos"
            android:theme="@style/Other" />
        <activity android:name="com.campuscompass.appdevproject.CountryData" />
        <activity android:name="com.campuscompass.appdevproject.OtpActivity" />
        <activity android:name="com.campuscompass.appdevproject.RegisterActivity" />
        <activity
            android:name="com.campuscompass.appdevproject.OrderCanteen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="           Canteen Menu"
            android:theme="@style/Other" />
        <activity android:name="com.campuscompass.appdevproject.RegGuide" />
        <activity
            android:name="com.campuscompass.appdevproject.ProfileSettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="                 Settings"
            android:theme="@style/Other" />
        <activity android:name="com.campuscompass.appdevproject.CanteenAdapter" />
        <activity android:name="com.campuscompass.appdevproject.CanteenClass" />
        <activity
            android:name="com.campuscompass.appdevproject.nav2activities.FestsList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="      Fests And Exhibitions"
            android:theme="@style/Other" />
        <activity
            android:name="com.campuscompass.appdevproject.CanteenOrderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="           Canteen Order"
            android:theme="@style/Other" />
        <activity android:name="com.campuscompass.appdevproject.AboutApp" />
        <activity android:name="com.campuscompass.appdevproject.Privacy" />
        <activity android:name="com.campuscompass.appdevproject.Notifications" />
        <activity
            android:name="com.campuscompass.appdevproject.nav2activities.Thomson"
            android:label="      James Thomson Building"
            android:theme="@style/Other" />
        <activity
            android:name="com.campuscompass.appdevproject.nav2activities.Library"
            android:label="                Library"
            android:theme="@style/Other" />
        <activity
            android:name="com.campuscompass.appdevproject.nav2activities.Hostels"
            android:label="                 Hostels"
            android:theme="@style/Other" />
        <activity
            android:name="com.campuscompass.appdevproject.nav2activities.Departments"
            android:label="            Departments"
            android:theme="@style/Other" />
        <activity
            android:name="com.campuscompass.appdevproject.nav2activities.Clubs"
            android:label="             Activity Clubs"
            android:theme="@style/Other" />
        <activity
            android:name="com.campuscompass.appdevproject.nav2activities.AboutIITR"
            android:label="          About IITR"
            android:theme="@style/Other" />
        <activity
            android:name="com.campuscompass.appdevproject.SportsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="                   Sports"
            android:theme="@style/Other" />
        <activity
            android:name="com.campuscompass.appdevproject.CampusActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="                 Activities"
            android:theme="@style/Other" />
        <activity android:name="com.campuscompass.appdevproject.groupinfo" />
        <activity android:name="com.campuscompass.appdevproject.GroupAdapter" />
        <activity android:name="com.campuscompass.appdevproject.ModelClass" />
        <activity
            android:name="com.campuscompass.appdevproject.CampusGroupActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="            About Groups"
            android:theme="@style/Other" />
        <activity
            android:name="com.campuscompass.appdevproject.StudentProfile"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Student Profile" />
        <activity android:name=".CareerInterest" /> <!-- <activity -->
        <!-- android:name=".OtherProfileActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:label="Others Profile" -->
        <!-- android:theme="@style/Other" /> -->
        <activity
            android:name="com.campuscompass.appdevproject.ChatsActivity"
            android:label=" Student Query Section"
            android:theme="@style/Other" /> <!-- <activity -->
        <!-- android:name=".NoticeProfActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:label="Notices" -->
        <!-- android:theme="@style/Other" /> -->
        <activity
            android:name=".InboxActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label=" Users"
            android:theme="@style/Other" /> <!-- <activity -->
        <!-- android:name=".Facultyprofile" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:label="Faculty Profile" -->
        <!-- android:theme="@style/Other" /> -->
        <!-- <activity -->
        <!-- android:name=".FacultyRegistration" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" /> -->
        <activity
            android:name="com.campuscompass.appdevproject.StudentFeeds"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="  Career Options"
            android:theme="@style/Other" />
        <activity
            android:name="com.campuscompass.appdevproject.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.campuscompass.appdevproject.GetStartActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" /> <!-- <activity -->
        <!-- android:name=".OthersReg" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" /> -->
        <activity
            android:name="com.campuscompass.appdevproject.StudentReg"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MyInterests"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="         My Interests"
            android:theme="@style/Other" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name="com.campuscompass.appdevproject.secondAnime"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.campuscompass.appdevproject.Splash1Activity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>