<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.appdevproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iitriconmy"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InterestsClass"></activity>
        <activity android:name=".StudentFeedsAdapter" />
        <activity android:name=".IndividualUserProfile" />
        <activity android:name=".FriendlyMessage" />
        <activity android:name=".ProfileAdapter" />
        <activity
            android:name=".EditProfileActivity"
             />
        <activity android:name=".SearchuserAdapter" />
        <activity
            android:name=".SearchUsersActivity"
            android:label="           Search Users"
            android:theme="@style/Other" />
        <activity android:name=".UserHelperClass" />
        <activity android:name=".CampusVideoAdapter" />
        <activity android:name=".CampusVideoClass" />
        <activity
            android:name=".CampusVideos"
            android:label="       Campus Videos"
            android:theme="@style/Other" />
        <activity android:name=".CountryData" />
        <activity android:name=".OtpActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".OrderCanteen"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="           Canteen Menu"
            android:theme="@style/Other" />
        <activity android:name=".RegGuide" />
        <activity
            android:name=".ProfileSettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="                 Settings"
            android:theme="@style/Other" />
        <activity android:name=".CanteenAdapter" />
        <activity android:name=".CanteenClass" />
        <activity android:name=".nav2activities.FestsList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="      Fests And Exhibitions"
            android:theme="@style/Other"
            />
        <activity
            android:name=".CanteenOrderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="           Canteen Order"
            android:theme="@style/Other" />
        <activity android:name=".AboutApp" />
        <activity android:name=".Privacy" />
        <activity android:name=".Notifications" />
        <activity android:name=".nav2activities.Thomson"
            android:label="      James Thomson Building"
            android:theme="@style/Other"/>
        <activity android:name=".nav2activities.Library"
            android:label="                Library"
            android:theme="@style/Other"/>
        <activity android:name=".nav2activities.Hostels"
            android:label="                 Hostels"
            android:theme="@style/Other"/>

        <activity android:name=".nav2activities.Departments"
            android:label="            Departments"
            android:theme="@style/Other"/>
        <activity android:name=".nav2activities.Clubs"
            android:label="             Activity Clubs"
            android:theme="@style/Other"/>
        <activity android:name=".nav2activities.AboutIITR"
            android:label="          About IITR"
            android:theme="@style/Other"/>
        <activity
            android:name=".SportsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="                   Sports"
            android:theme="@style/Other" />
        <activity
            android:name=".CampusActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="                 Activities"
            android:theme="@style/Other" />
        <activity android:name=".groupinfo" />
        <activity android:name=".GroupAdapter" />
        <activity android:name=".ModelClass" />
        <activity
            android:name=".CampusGroupActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="            About Groups"
            android:theme="@style/Other" />
        <activity
            android:name=".StudentProfile"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Student Profile" />

        <activity android:name=".CareerInterest" /> <!-- <activity -->
        <!-- android:name=".OtherProfileActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:label="Others Profile" -->
        <!-- android:theme="@style/Other" /> -->
        <activity
            android:name=".ChatsActivity"
            android:label=" Student Query Section"
            android:theme="@style/Other" /> <!-- <activity -->
        <!-- android:name=".NoticeProfActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:label="Notices" -->
        <!-- android:theme="@style/Other" /> -->
        <activity
            android:name=".InboxActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label=" Users"
            android:theme="@style/Other" /> <!-- <activity -->
        <!-- android:name=".Facultyprofile" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" -->
        <!-- android:label="Faculty Profile" -->
        <!-- android:theme="@style/Other" /> -->
        <!-- <activity -->
        <!-- android:name=".FacultyRegistration" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" /> -->
        <activity
            android:name=".StudentFeeds"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="  Interests Sources"
            android:theme="@style/Other"
            />
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".GetStartActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" /> <!-- <activity -->
        <!-- android:name=".OthersReg" -->
        <!-- android:configChanges="keyboardHidden|orientation|screenSize" /> -->
        <activity
            android:name=".StudentReg"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MyInterests"
            android:configChanges="keyboardHidden|orientation|screenSize"

            android:label="         My Interests"
            android:theme="@style/Other"/>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".secondAnime"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".Splash1Activity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>